.container
  .row
    .col-xs-12
      form(ng-submit='formSubmit()').input-group.input-group_main
        h1.form-dir__headline Анонимная читалка новостей
        h3.form-dir__slogan Никто даже не заметит вашего присутствия в VK, просто...
        input(type="text" required placeholder="... введи свой запрос" ng-model="name" aria-describedby="addon").form-control.form_main
        button(type="submit").btn.btn-primary.btn-block Поехали!

