.container
  .row
    .col-xs-12
      .panel.panel-info
        .panel-heading
          .panel-title Новость номер {{newsNumber}}
        .panel-body
          p Дата - {{newsToShow.date * 1000 | date : "dd.MM.y"}}
          p Имя - {{newsToShow.user.first_name}} {{newsToShow.user.last_name}}
          .text-holder
            p(ng-bind-html='newsToShow.text')
          .clearfix
              .row
                .col-xs-12.owl-example.owl-carousel.owl-theme
                  .item(ng-repeat="photo in newsToShow.attachments")
                    img( ng-src="{{photo.photo.src_big}}" src='')
          div(ng-show='data.attachment.link.image_big')
            p {{newsToShow.attachment}}
                img.col-xs-12(ng-src="{{newsToShow.attachment.link.image_big}}")

            //img.col-xs-3.no-padding(ng-src='{{attachment.photo.src_small}}')
          p Лайки {{newsToShow.likes.count}}
          button.btn.btn-default.btn-block(ng-click="getBack()") Давайте вернемся к остальным новостям!

