doctype html
html(lang="ru" ng-app='PortfolioApp' ng-strict-di)
  head
    title(ng-bind="pageTitle") Загрузка
    meta(charset='utf-8')
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='/css/style.min.css' type='text/css' rel='stylesheet')

    script(type="text/javascript" src="/js/app.min.js")

  body
    div(ng-controller="mainCtrl as ctrl")
      div(ng-view)
    script(type="text/javascript" src="/js/isolated.min.js")

