@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css";
@import "../node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../node_modules/owl.carousel/dist/assets/owl.theme.default.css";
@import "main/navigation/navigation";
@import "main/form-dir/form-dir";
@import "main/news-single/news-single";
*{
  font-family: 'Roboto Condensed', sans-serif;
}
.no-padding{
  padding-left: 0;
  padding-right: 0;
}





