.container
  .row
    .col-md-12.navigation_search-holder
      button.btn.btn-default.btn-block(ng-click="getBack()").navigation_search-holder На главную!
      form(ng-submit='formSubmit()').input-group
        span.input-group-addon.search__lable#addon Поиск по новостям ВК
        input(type="text" placeholder="ВК - найдется все! Но в основном - спам :(" ng-model="name" aria-describedby="addon").form-control
        span.input-group-btn.search__button
          button.btn.btn-default(type="submit" ng-show="submitStatus == 0") Давайте поищем!
          button.btn.btn-default(type="submit" ng-show="submitStatus == 2") Ищу...
          button.btn.btn-default(type="submit" ng-show="submitStatus == 1") Продолжим?
.container
  .row
    .col-md-6(ng-repeat='data in availableData' ng-hide="$index == 0")
      .panel.panel-info
        .panel-heading
          .panel-title Новость номер {{$index}}
        .panel-body
          p Дата - {{data.date * 1000 | date : "dd.MM.y"}}
          p(ng-show='data.user.first_name') Имя - {{data.user.first_name}} {{data.user.last_name}}
          p(ng-show='data.group.name') Группа - {{data.group.name}}
          .text-holder
            p(ng-bind-html='data.text')

          .clearfix
            .row
              .col-xs-12.owl-example.owl-carousel.owl-theme
                .item(ng-repeat="photo in data.attachments")
                  img.image__min(ng-click="toPopUp(photo.photo.src_big)" ng-src="{{photo.photo.src_big}}" src='')
          div(ng-show='data.attachment.link.image_big')
            .col-xs-12
              img.image__min(ng-click="toPopUp(data.attachment.link.image_big)" ng-attr-title="{{data.attachment.link.title}}" ng-src="{{data.attachment.link.image_big}}")
          p Лайки {{data.likes.count}}
          button.btn.btn-default.btn-block(ng-click="showNews($index)") Почему бы и не прочесть полностью?
.popup__background(ng-click="hide = true" ng-hide="hide")
  img.popup__image(ng-src="{{popUpUrl}}")
