.container{
  overflow: hidden;
}
.text-holder{
  max-height: 100px;
  overflow: hidden;
}
.popup{
  &__background{
    position: fixed;
    top: 0;
    /* left: 50%; */
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 63, 225, 0.3);
    height: 100vh;
  }
  &__image{
    vertical-align: middle;
    margin: 10vh auto;
    display: block;
    max-width: 100vw;
    max-height: 90vh;
  }
}
.navigation_search-holder{
  margin-bottom: 15px;
}
.image__min{
  width:auto !important;
  margin: 0 auto;
  display: block;
  max-height: 400px;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .search{
    &__lable,
    &__button{
      display: none;
    }
  }
}